<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa  fa-user"></i> Meber list</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Member Lists
            </div>
            <div class="panel-body">
              <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                              <th>msno </th>
                              <th>city</th>
                              <th>bd</th>
                              <th>gender</th>
                              <th>registered_via</th>
                              <th>registration_init_time</th>
                              <th>created_at</th>
                              <th>updated_at</th>
                            </tr>
                        </thead>
                        <tbody>
                              <% @members.each do |member| %>
                              <tr>
                                <td><%=member.msno                    %></td>
                                <td><%=member.city                    %></td>
                                <td><%=member.bd                      %></td>
                                <td><%=member.gender                  %></th>
                                <td><%=member.registered_via          %></th>
                                <td><%=member.registration_init_time  %></th>
                                <td><%=member.created_at.to_date()              %></th>
                                <td><%=member.updated_at.to_date()              %></th>
                              </tr>
                              <% end %>
                        </tbody>
                    </table>
                    <%#= paginate @members %>
            </div>
            <div class="col-lg-8">
                <div id="morris-bar-chart"></div>
            </div>
            <!-- /.col-lg-8 (nested) -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.panel-body -->
</div>





<!-- DataTables JavaScript -->
<script src="/assets/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="/assets/datatables-responsive/dataTables.responsive.js"></script>


<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
    $('#dataTables-example').DataTable({
        responsive: true
    });
});
</script>
